@charset 'utf-8';

*{
  margin: 0;
  padding: 0;
}

.toggle{

  button{
    margin: 1rem;
    
  }

  p{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 1rem;
    text-align: center;
    background-color: aliceblue;
  }
}