@charset 'utf-8';

*{
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

/* card-wrap  */
.card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}