.timer{
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    text-align: center;
    color: #eeeeee;
    font-size: 10rem;
  }
  div > button{
    font-size: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 2rem;
    background-color: #bbb;
    cursor: pointer;

    &:first-child{
      background-color: #a8b1ff;
    }

    &:last-child{
      background-color: #f5adad ;
    }

    &:hover{
      filter: brightness(0.5);
    }
  }
}